@import "../../App.scss";


.services {
    background: linear-gradient(100deg, #0c0c1d, #111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mobile {
        transform: none !important;
    }

    @include tablet {
        transform: none !important;
        // justify-content: space-;
    }

    .textContainer {
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile {
            align-self: center !important;
            text-align: center !important;
            flex-direction: column !important;
        }

        hr {
            width: 500px;
            border: none;
            border-top: 0.5px solid gray;

            @include mobile {
                width: 300px !important;
            }
        }

        p {
            font-weight: 100;
            font-size: 20px;
            color: gray;
            text-align: right;
        }


    }

    .titleContainer {
        flex: 2;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mobile {
            width: 100% !important;
        }

        @include tablet {
            width: 100%;
            flex: 1;
        }

        .title {
            display: flex;
            align-items: center;
            gap: 50px;

            @include mobile {
                flex-direction: column !important;
                text-align: center !important;
                gap: 20px !important;
            }

            @include tablet {
                text-align: center;
                gap: 10px;
            }

            img {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                object-fit: cover;

                @include mobile {
                    width: 200px !important;
                    height: 50px !important;
                }

                @include tablet {
                    width: 250px;
                    height: 80px;
                }
            }

            h1 {
                font-size: 96px;
                font-weight: 100;

                @include mobile {
                    font-size: 30px !important;
                }

                @include tablet {
                    font-size: 65px;
                }
            }

            button {
                width: 300px;
                height: 100px;
                border-radius: 50px;
                background-color: orange;
                border: none;
                font-size: 24px;
                cursor: pointer;

                @include mobile {
                    font-size: 16px !important;
                    width: 150px !important;
                    height: 40px !important;
                }

                @include tablet {
                    width: 250px;
                    height: 80px;
                }
            }
        }
    }

    .listContainer {
        flex: 2;
        display: flex;
        max-width: 1244px;
        margin: auto;


        @include mobile {
            flex-direction: column !important;
            width: 100% !important;
            font-size: 10px !important;
        }

        @include tablet {
            width: 100%;
            font-size: 10px;
            flex: 1;
        }

        .box {
            border: 0.5px solid gray;
            padding: 45px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 21px;

            .wrapper {
                display: flex;
                align-items: center;

                @include mobile{
                    justify-content: center !important;
                }

                @include tablet {
                    justify-content: space-around;
                }

                img {
                    height: 50px;
                    width: 50px;

                    @include mobile {
                        height: 20px !important;
                        width: 20px !important;
                    }


                }
            }

            @include mobile {
                border: none !important;
                align-items: center !important;
                padding: 10px !important;
            }

            @include tablet {
                padding: 10px;
                justify-content: space-around;
            }

            p {
                @include mobile {
                    display: none !important;
                }

                @include tablet {
                    font-size: 13px;
                }
            }

            button {
                padding: 10px;
                background-color: orange;
                cursor: pointer;
                border: none;

                @include mobile {
                    background-color: transparent !important;
                    border: 1px solid orange !important;
                    border-radius: 5px !important;
                    color: orange !important;
                    width: 50% !important;
                    padding: 5px !important;
                }
            }
        }

    }
}