@import "../../App.scss";


.parallax {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    h1 {
        font-size: 100px;

        @include mobile {
            font-size: 72px;
            text-align: center;
        }

        @include tablet {
            font-size: 90px;
        }
    }

    .mountains {
        background-image: url("/img/mountains.png");
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 3;

        @include mobile {
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include tablet {
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .planets {
        // background-image: url("/public/img/planets.png");
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 2;

        @include mobile {
            background-size: contain;
            background-repeat: no-repeat;
        }

        @include tablet {
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .stars {
        background-image: url("/img/stars.png");
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;

    }
}